name: Build executable

on:
  workflow_call:
  pull_request:
    branches: ["main"]

env:
  GO_VERSION: 1.25.5
  JUST_VERSION: 1.5.0

jobs:
  build:
    name: Build executable
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: extractions/setup-just@v3
        with:
          just-version: ${{ env.JUST_VERSION }}

      - name: Build
        run: make build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        if: github.event_name != 'pull_request'
        with:
          name: gitsaver_build
          path: ./bin/gitsaver_*
